# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.log
*.suo
*.opensdf
*.lastbuildstate
*.tlog
*.pdb
*.sdf
EmptyGeneralTesting/AutoTester/Release/
EmptyGeneralTesting/SPA/Release/
EmptyGeneralTesting/UnitTesting/Release/
EmptyGeneralTesting/IntegrationTesting/Release/
EmptyGeneralTesting/AutoTester/Debug/
EmptyGeneralTesting/SPA/Debug/
EmptyGeneralTesting/UnitTesting/Debug/
EmptyGeneralTesting/IntegrationTesting/Debug/
EmptyGeneralTesting/ipch/
EmptyGeneralTesting/Debug/
